.container
  h1.heading Stats
  h2.col-md-8.offset-md-2.sub-heading We love feedback. Fill out the form below and we'll get back to you as soon as possible. in minus distinctio dolores ipsam.
  .row
    form.col-md-12
      .row
        .form-group.col-md-6
          input.form-control(type="text", id="name", name="name", placeholder="Full Name")
        .form-group.col-md-6
          input.form-control(type="email", id="email", name="email", placeholder="Email")
      .form-group
        textarea.col-md-12(rows="10", id="message", placeholder="Message")
      button(type="submit") Submit Message

