.container
  h1.heading Stats
  h2.col-md-8.offset-md-2.sub-heading Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque.
  .row
    .box.col-md-3
      i.fa.fa-microphone
      h3 Margins
      h4 100,000
    .box.col-md-3
      i.fa.fa-gift
      h3 Completed
      h4 324201
    .box.col-md-3
      i.fa.fa-mobile
      h3 Projects
      h4 152
    .box.col-md-3
      i.fa.fa-lightbulb-o
      h3 Customers
      h4 56500
