.container
  h1.heading Stats
  .row
    .testimonials.col-md-8.offset-2
      p Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
      .info
        img.img-responsive(src="../assets/images/9.customer-feedback/1.jpg")
        .pull-left
          .name Lina Mars
          .post Commercial Director

