.container
  h1.heading Stats
  h2.col-md-8.offset-md-2.sub-heading Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque.
  .row
    .box.col-md-2.offset-2
      img.img-responsive(src="../assets/images/8.shefs/1.jpg")
      h3 Chris Willam
      p Lorem ipsum dolor sit amet, consectetur adipisic
    .box.col-md-2.offset-1
      img.img-responsive(src="../assets/images/8.shefs/2.jpg")
      h3 Randy Dode
      p Lorem ipsum dolor sit amet, consectetur adipisic
    .box.col-md-2.offset-1
      img.img-responsive(src="../assets/images/8.shefs/3.jpg")
      h3 Michel Kimte
      p Lorem ipsum dolor sit amet, consectetur adipisic
