.container
  h1.heading Services
  h2.col-md-8.offset-md-2.sub-heading Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque.
  .row
    .col-md-4
      .service-box
        .title Breakfast
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.
        img.img-responsive(src="../assets/images/4.services/1.jpg")
    .col-md-4
      .service-box
        .title Lunch
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.
        img.img-responsive(src="../assets/images/4.services/2.jpg")
    .col-md-4
      .service-box
        .title Dinner
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.
        img.img-responsive(src="../assets/images/4.services/3.jpg")
  .row.second-row
    .col-md-4
      .service-box
        i.fa.fa-star-half-o
        .title Breakfast
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.
    .col-md-4
      .service-box
        i.fa.fa-music
        .title Lunch
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.
    .col-md-4
      .service-box
        i.fa.fa-cog
        .title Dinner
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla.
