a
  .product-image: img.img-responsive(src="{{product?.imagePath}}")
  .name {{product?.name}}
ul.rating
  li: img.img-responsive(src="../assets/images/rating/one-point.png")
  li: img.img-responsive(src="../assets/images/rating/one-point.png")
  li: img.img-responsive(src="../assets/images/rating/one-point.png")
  li: img.img-responsive(src="../assets/images/rating/one-point.png")
  li: img.img-responsive(src="../assets/images/rating/one-point.png")
.price {{product?.price}}
add-to-cart-button
