.container: .row
  .col-md-4
    img.img-responsive(src="../assets/images/logo.png")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et porro quos iste ratione doloribus asperiores, error omnis delectus rerum sapiente. Et, aliquam modi beatae quae in perferendis ab est fugiat!
  .col-md-4
    h1 News & Updates
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque.
    ul.social-links
      li: a.fa.fa-facebook.fa-2x
      li: a.fa.fa-twitter.fa-2x
      li: a.fa.fa-pinterest.fa-2x
      li: a.fa.fa-google.fa-2x
    .copyright
      | Copyright © 2018. Template by:
      span WebThemez
      | , All rights reserved
  .col-md-4
    h1 Contact Us
    p Lorem ipsum dolor sit amet adipisicing elit.
    ul.info
      li
        i.fa.fa-home
        span 123 New Venu Street
      li
        i.fa.fa-phone
        span 001 123 12345 99
      li
        i.fa.fa-envelope-o
        span support@website.com
